extends layout

block content
  h1= title
  ul
    each post in posts
      li
        a(href=`/blogs/${post.id}`) #{post.title}
  a(href="/blogs/new") Add New Post
  br
  a(href="/") Go to home page
  br
  a(href="/about") Go to about page
